* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background: #273347;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 18px;
}

span.headerbutton {
  color: #4a6187;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

span.headerspacer {
  width: 400px;
  height: 20px;
}

a {
  color: #4a6187;
  text-decoration: none;
}

.headerbutton a {
  color: #4a6187;
  text-decoration: none;
}

span.headerbar {
  color: #4a6187;
  font-size: 15px;
}

div.header {
  display: flex;
  justify-content: flex-end;
  background: #161d29;
  margin: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

div.footer {
  background: #161d29;
  margin: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;

  width: 100%;
  bottom: 0;
}

/* This is an ID. One element has this ID. */
div.maintitle {
  background: #161d29;
  color: #cfe0e6;
  font-family: 'Righteous', cursive;
  font-weight: regular;
  font-size: 48px;
  text-align: center;
  padding-bottom: 15px;
}

#logoimage {
  padding-top: 20px;
  width: 60%;
}

div.maintext {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.maintext hr {
  height: 1px;
  margin: 10px;
  border: none;
  background-color: #4a6187;
}
